html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 700px;
    margin: 0 auto;
    background-image: url("../IMG/background-image.png");
}

.footer {
    text-align: center;
    margin: 10px 15px;
}